:root{
   
    --space:350px;
    --color:#f01414;
    --blur:1px;
    
}

body{
    background-color: rgb(43, 42, 42);
    color: white;
}
img{
    width: 350px;
    height: var(--space);
    border: 10px solid var(--color);
    filter: blur(var(--blur));
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif, Geneva, Tahoma, Verdana;
    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 3rem 4px 3px 4px;
}

span{
    color: goldenrod;
    font-size: 3rem;
    font-weight:bolder;
    margin-left: 5px;
}


.container{
    padding-bottom: 20px;
    margin: 2rem 0 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 30px;
    border: 3px dotted gray;
    flex-direction: column;
}