*{
    padding: 0; margin: 0;
}

.panels{
    display: flex;
   justify-content: center;
}

.panel{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100vh;
    font-size: 4rem;
}

.zero{
    
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1628029799784-50d803e64ea0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);
}
.one{

    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1628336664432-83e2c3b7b176?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);
}

.two{
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1628344806892-11873eba7974?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);
}

.three{
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1601880348117-25c1127a95df?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyODh8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.addflex{
    flex: 3;
    transition: ease-in-out 1s;
}